/** CSS FOR FORMATTING THE BASIC FILTER BLOCK **/

#block-vt_commerce_catalog_basic_filter-vtcc_basic_filter h2 {
  font-size: 1em;
}

#block-vt_commerce_catalog_basic_filter-vtcc_basic_filter h3 {
  border-bottom: 1px solid #EEEEEE;
  font-size: 0.833em;
  margin-bottom: 7px;
  padding-bottom: 3px;
}

#block-vt_commerce_catalog_basic_filter-vtcc_basic_filter .item-list {
  float: left;
  margin: 0 10px 0 0;
}
#block-vt_commerce_catalog_basic_filter-vtcc_basic_filter .item-list ul {
  margin: 0;
  padding: 0;
}
#block-vt_commerce_catalog_basic_filter-vtcc_basic_filter .item-list ul li {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#block-vt_commerce_catalog_basic_filter-vtcc_basic_filter .item-list ul li a {
  color: #585858;
  font-size: 0.917em;
  margin: 0 5px 0 0;
  padding: 3px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: transparent url(images/title_bg.png) no-repeat center;
  border: 1px solid #CCCCCC;
}

#block-vt_commerce_catalog_basic_filter-vtcc_basic_filter .item-list ul li a.query-active {
  border: 1px solid #55AAFF;
  color: #00AAFF;
}
#block-vt_commerce_catalog_basic_filter-vtcc_basic_filter .item-list ul li a:hover {
  border: 1px solid #FFAA55;
  color: #FF7F00;
}