.vt-catalog-category {
  float: left;
  width: 31%;
  margin: 0 2% 15px 0;
  height: 100px;
}


html.js .vt-catalog-category {
  height: auto;
}
.vt-catalog-category.category-row,
.vt-catalog-category.category-endrow:after {
  clear: both;
}
.vt-catalog-category img {
  float: left;
  margin: 1px 8px 10px 0;
  border: none;
  padding: 0;
}

.vt-catalog-category h2 {
  font-size: 0.917em;
  font-weight: bold;
}

.vt-catalog-category .vt-catalog-category-childtags {
  font-size: 0.833em;
  line-height: 120%;
}
.category-vid {
  border-bottom: 1px solid #CCCCCC;
  display: block;
  float: left;
  margin: 10px 0;
  padding-bottom: 10px;
  width: 100%;
}