#vt-catalog {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px double #ccc;
}

/** Possible element **/
#vt-catalog.grid select {
  width: 100%;
}

#vt-catalog h1,
#vt-catalog h2 {
  font-size: 1.333em;
  margin-bottom: 10px;
}

#vt-catalog .field-type-commerce-price {
  font-size: 1em;
}

#vt-catalog .vtbutton {
  margin-bottom: 10px;
}

/** GRID MODE **/
/** NOTE ALSO INSPECT THE JS, 
    JS WILL PERFORM AUTO HEIGHT
    CALCULATION **/

#vt-catalog.grid .node {
  float: left;
  margin-bottom: 8px;
  margin-left: 1%;
  width: 29.5%;
  padding: 1%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  clear: none !important;
  border: 1px solid #E8E8E8;
  text-align: center;
  height: 200px;
}

html.js #vt-catalog.grid .node {
  height: auto;
}
#vt-catalog.grid .node:after {
  clear: none;
}

#vt-catalog.grid .field-name-body {
  display: none;
}

#vt-catalog.grid .field-name-title {
  width: 100%;
  display: block;
}

#vt-catalog.grid .field-type-image {
  display: block;
  width: 100%;
}

#vt-catalog.grid .field-type-image img {
  max-width: 90%;
  margin: 0 5%;
}

/** LIST MODE **/
#vt-catalog.list .node {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

#vt-catalog.list .field-name-title {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}