/** CSS FOR FORMATTING THE BASIC FILTER BLOCK **/

#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter h2 {
  font-size: 1em;
}

#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter h3 {
  border-bottom: 1px solid #EEEEEE;
  font-size: 0.833em;
  margin-bottom: 7px;
  padding-bottom: 3px;
  display: block;
}

#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter .item-list {
  float: left;
  margin: 0 0 10px;
  width: 100%;
}
#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter .item-list ul {
  margin: 0;
  padding: 0;
}
#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter .item-list ul li {
  float: left;
  list-style: none outside none;
  margin: 0 0 10px;
  padding: 0;
}

#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter .item-list ul li a {
  color: #585858;
  font-size: 0.917em;
  margin: 0 5px 0 0;
  padding: 3px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: transparent url(images/title_bg.png) no-repeat center;
  border: 1px solid #CCCCCC;
  display: block;
}

#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter .item-list ul li a.canceler {
  border: 1px solid #55AAFF;
  color: #00AAFF;
}

#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter .item-list ul li a.cancel-all {
  border: 1px solid #FF557F;
  color: #FF55AA;
}
#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter .item-list ul li a:hover {
  border: 1px solid #FFAA55;
  color: #FF7F00;
}
/** SORT BY PRICE MANUAL INPUT WITH VTBUTTON BYPASS**/

#block-vt_commerce_catalog_advanced_filter-vtcc_advanced_filter .item-list ul li a.pricesort-canceler {
  border: 1px solid #50A550;
  color: #67BC3C;
}

#vt-commerce-catalog-price-filter-manual-input-form {
  border-right: 1px solid #CCCCCC;
  float: left;
  margin-right: 10px;
  width: 208px;
}
#vt-commerce-catalog-price-filter-manual-input-form .form-item {
  margin-bottom: 0px; /** SYSTEM RESET **/
}

#vt-commerce-catalog-price-filter-manual-input-form .form-text {
  float: left;
  width: 60px;
  margin-right: 5px;
}

#vt-commerce-catalog-price-filter-manual-input-form .price-separator {
  float: left;
  margin-right: 5px;
  width: 5px;
}

#vt-commerce-catalog-price-filter-manual-input-form .vt-button {
  color: #333;
}
#vt-commerce-catalog-price-filter-manual-input-form .vtbutton span {
  background: none;
  display: block;
  height: auto;
  padding-right: 0;
}
#vt-commerce-catalog-price-filter-manual-input-form .vtbutton span span {
  background:none;
  line-height: inherit;
  padding-left: 0;
  padding-right: 0;
}

#vt-commerce-catalog-price-filter-manual-input-form .vtbutton span span span {
  background: none !important;
  padding-left: 0;
}

#vt-commerce-catalog-price-filter-manual-input-form .form-submit {
  color: #333;
  margin: 0 5px 0 0;
  padding: 3px 5px;
  font-size: 0.917em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: transparent url(images/title_bg.png) no-repeat center;
  border: 1px solid #ccc;
}

#vt-commerce-catalog-price-filter-manual-input-form .form-submit:hover {
  border: 1px solid #FF7F00;
}