html.js .block-vt_commerce_catalog_advanced_filter .content {
  display: none;
}
.vtcc-advanced-filter-js {
  display: block;
  cursor: pointer;
  background: transparent url(images/plusmin.png) no-repeat 99% 5px;
}

.vtcc-advanced-filter-js:hover {
  background: transparent url(images/plusmin.png) no-repeat 99% -14px;
}  

.vtcc-advanced-filter-js.open {
  background: transparent url(images/plusmin.png) no-repeat 99% -30px;
}

.vtcc-advanced-filter-js.open:hover {
  background: transparent url(images/plusmin.png) no-repeat 99% -49px;
}

